<tr>
  <td><%= news.title %></td>
  <td><%= link_to 'Show', [:admin, news] %></td>
  <td><%= link_to 'Edit', edit_admin_news_path(news) %></td>
  <td><%= link_to 'Destroy', [:admin, news], method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>