<h2 class="text-center">Редактировать новость</h2>
<div class="container">
  <div class="row">
    <br>
    <%= render 'form', news: @news %>
    <div class="col-xs-12 col-sm-12 text-center" id="btn-master">
      <%= link_to "Назад", admin_news_index_path, :class=>"btn btn-light" %>
    </div>
  </div>
</div>
<br>