<div class="container">
  <div class="row text-center">
    <h4>Личный кабинет пользователя: <%="#{@user.email}" %></h4>
    <div class="col-md-6 text-left">
      <h5>Почта:</h5>
      <p>E-mail: <%= @user.email %></p>
    </div>
    <div class="col-xs-12 col-sm-12 padding" id="btn-master">
      <%= link_to "Назад", root_path, :class=>"btn btn-light" %>
    </div>
  </div>
</div>
