<div id="header_img">
<%= image_tag("img/desing2.jpg") %>
</div>
<div class="from_me">
<h2>Компанія Майстер</h2>
<p>
<strong>Майстер</strong> – італійсько-українська кондитерська компанія, що виробляє понад 100 видів високоякісних
кондитерських виробів. Компанія була заснована в 2010 році. Основні виробничі потужності компанії Майстер розташовані у
Києві.
</p>
<p>
Компанія докладає максимум зусиль, щоб продукція мала бездоганну якість, починаючи з відбору інгредієнтів, професійного
підходу кваліфікованих кондитерів - до зберігання та доставки готових кондитерських виробів споживачеві.
</p>
<h4>Наша місія:</h4>
Завдяки майстерності та любові до своєї справи дарувати щодня нашим споживачам справжні шедеври кондитерського мистецтва!

<h4>Наша головна мета:</h4>
<p>
Стати лідером ринку, створюючи кондитерські вироби за найсучаснішими європейськими технологіями, використовуючи лише
високоякісні інгредієнти.
</p>

<h4>Наші цінності:</h4>
<ul>
<li>Якість</li>
<li>Прагнення до досконалості</li>
<li>Відповідальність</li>
<li>Професіоналізм та майстерність</li>
<li>Ефективність</li>
<li>Партнерство</li>
</ul>
<p>Незалежно від того, де ви купуєте продукцію Майстер  , вона завжди має незмінно високий рівень якості!</p>
<p>Майстер є соціально-відповідальна компанія, яка дбає про своїх працівників.</p>
<p>
Ми багато часу присвячуємо розвиткові персоналу. Заохочуємо своїх співробітників до вдосконалення власних здібностей, пропонуючи їм
для цього широкі можливості.
</p>
<p>
Кондитери, технологи, пекарі, тістоміси, пакувальники продукції, бухгалтери, офіс-менеджери та водії – це команда професіоналів, де
кожен сумлінно та якісно виконує свою роботу.
</p>
<p>
Майстер - це чудове місце роботи для людей, котрі хочуть рухатись вперед, братися за складні завдання та
досягати високих результатів
</p>
</div>