<div class="container">
  <div class="row">
    <ul type="none">
      <h2>Компания Мастер</h2>
      <li><p>
      <strong>Мастер</strong> – украинская кондитерская компания, которая изготовляет более 100 видов
        высококачественных кондитерских изделий. Компания была основана в 2009 году. Основные мощности
        компании Мастер расположены в Харькове.
      </p></li>
      <li><p>
        Компания прикладывает максимум усилий, что бы продукция имела безупречное качество, начиная с отбора
        ингридиентов, профессионального подхода квалифицированных кондитеров - до сохранения и доставки готовых
        кондитерских изделий покупателю.
      </p></li>
      <li><h4>Наша миссия:</h4>
        <p>Благодаря мастерству и любви к своему делу - дарить каждый день нашим покупателям и клиентам настоящие шедевры
        кондитерского исскуства!</p></li>
      <li><h4>Наша главная цель:</h4>
      <p>
        Стать лидером рынка, создавать кондитерские изделия по самым современным европейским технологиям,
        используя только высококачественные ингридиенты.
      </p></li>

      <li><h4>Наши ценности:</h4>
      <ul>
        <li>Качество</li>
        <li>Стремление к совершенству</li>
        <li>Ответственность</li>
        <li>Профессионализм и мастерство</li>
        <li>Эффективность</li>
        <li>Партнерство</li>
      </ul>
      </li>
      <br>
      <li>
        <p><strong>Мастер</strong> - социально-ответственная компания, которая заботиться о своих работниках.</p>
      </li>
      <li>
        <p>Независимо от того, где вы покупаете продукцию Мастер, она всегда имеет высокий уровень качества!</p>
      </li>
      <li><p>
        Мы посвещаем много времени развитию персонала. Мотивируем своих сотрудников к усовершенствованию своих
        навыков, предлагаем для этого широкие возможности
      </p></li>
      <li><p>
        <strong>Мастер</strong> - это прекрасное место работы для людей, которые хотят двигаться вперед, браться
        за сложные задания и добиваться высоких результатов.
      </p></li>
      <li><p>
        Кондитеры, технологи, пекари, тестомесы, упаковщики продукции, бухгалтеры, офис-менеджеры, торговые
        представители и водители - это команда профессионалов, в которой каждый тщательно выполняет свою работу.
      </li></p>
    </ul>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
