<div class="contact">
  <ul>
    <p class="footer_head" style="font-size: 1.5em; width: 80%; color: red;">КОНТАКТНА ІНФОРМАЦІЯ</p>
    Ласкаво просимо! В нашій пекарні ви зможете скуштувати безліч смаколиків у сучасному інтер'єрі
    <li>бульвар Лесі Українки 26, Київ, Україна +38 073 123 26 26</li>
    <li>вулиця Василя Липківського 1 (Ремточмеханіка), Київ, Україна +38 063 637 56 51</li>
    <li>вулиця Січових Стрільців 35, Київ, Україна +38 063 637 56 50</li>
    <li>вулиця Шевченка 146, Біла Церква, Україна +38 073 183 27 72</li>
    <li>бульвар 50-річчя Перемоги 175, Біла Церква, Україна +38 073 352 52 52</li>
    <li>вулиця Петра Обаля 2, Стрий, Україна +38 063 725 91 30</li>
    info@marybakery.com.ua
  </ul>
</div>
<div id="partners">
<%= image_tag("img/right.jpg") %>
</div>
<div>
  <form action="/" class="form">
    <p><b>Для нас важна обратня связь</b></p>
    <p>
      Имя:<Br>
      <input type="text" name="name">
    </p>
    <p>
      Сообщение:<br>
      <textarea rows="10" cols="45" name="text" style="max-height: 300px; max-width: 400px;"></textarea>
    </p>
    <p><input type="submit" value="Отправить"></p>
  </form>
</div>
<div class="contact">
  <ul>
    <li>
      Генеральний Директор:
      Казимірський Іван Миколайович
      Тел : +38 (067) 439 35 00
      Тел./факс:+38 (032) 239 57 16
      Відділ збуту:
      Директор з експорту (всі напрямки):
      Бейтулаєв Енвер Ібрагімович
      E-mail: enver.beitulaiev@master.com.ua
    </li>
    <li>
      Директор з продажу (Луцьк, Рівне, Житомир, Київ, Біла Церква, Вінниця, Тернопіль):
      Шпак Тарас Ярославович
      Тел.: +38 (068) 574 35 35
      E-mail: taratiy@master.com.ua
    </li>
    <li>
      Директор з продажу (Львів, Дрогобич):
      Шпак Назар Миколайович
      Тел.: +38 (066) 377 77 70
      E-mail: naza07@master.com.ua
    </li>
  </ul>
</div>
