<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h4>Главный офис:</h4>
      <p>+380504023130</p>
      <h4>Отдел продаж:</h4>
      <p>+380990439537</p>
      <h4>Почта:</h4>
      <p>master2009sales@gmail.com</p>
      <h4>Адрес производства:</h4>
      <p>г. Харьков ул. Автогенная 10</p>
    </div>
    <div class="col-md-7" id="contactsImg">
      <%= image_tag("img/coockies.jpg") %>
    </div>
  </div>
</div>