<div class="contact">
  <ul>
    <p>КОНТАКТНА ІНФОРМАЦІЯ</p>
    Ласкаво просимо! В нашій пекарні ви зможете скуштувати безліч смаколиків у сучасному інтер'єрі
    <li>бульвар Лесі Українки 26, Київ, Україна +38 073 123 26 26</li>
    <li>вулиця Василя Липківського 1 (Ремточмеханіка), Київ, Україна +38 063 637 56 51</li>
    <li>вулиця Січових Стрільців 35, Київ, Україна +38 063 637 56 50</li>
    <li>вулиця Шевченка 146, Біла Церква, Україна +38 073 183 27 72</li>
    <li>бульвар 50-річчя Перемоги 175, Біла Церква, Україна +38 073 352 52 52</li>
    <li>вулиця Петра Обаля 2, Стрий, Україна +38 063 725 91 30</li>
    info@marybakery.com.ua
  </ul>
</div>
<div id="contacts">
  <%= image_tag("img/right.jpg") %>
</div>