<div id="header_img">
  <%= image_tag("img/desing3.jpg") %>
</div>
<div id="partner" align="center">
  <p align="center">
    Наша компанія запрошує до співпраці магазини, кафе, ресторани, кейтерингові компанії. Працюємо без вихідних. Здійснюємо доставку
    по всій Україні. Для кожного клієнта персональні умови. Більш детальна інформація за телефоном +380(99)0439538
  </p>
</div>