 <div class="fixed-wrap">
  <div id="fixed3"></div>
</div>
<br><br><br>
<div class="container">
  <div class="row">
        <% if @news.empty? %>
    <h4>Пока нет новостей</h4>
  <% else %>
    <%= render @news %>
  <% end %>
  </div>
</div>
