<p id="notice"><%= notice %></p>
<div id="header_img">
<%= image_tag("img/news.png") %>
</div>



<div class="news">

  <% if @news.empty? %>
    <h4>Пока нет новостей</h4>
  <% else %>
    <%= render @news %>
  <% end %>
</div>
