<tr>
  <td><%= product.name %></td>
  <td><%= link_to 'Показать', [:admin, product] %></td>
  <td><%= link_to 'Редактировать', edit_admin_product_path(product) %></td>
  <td><%= link_to 'Удалить', [:admin, product], method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>