.about_company{
  width: 80%;
  font-size: 1.3em;
}
.about_company h2{
  padding-bottom: 10px;
  width: 80%;
  color: red;
  font-size: 1.5;
  border-bottom: 3px solid yellow;
}
.about_company h4{
  width: 300px;
  color: red;
  font-size: 1.4em;
  border-bottom: 3px solid yellow;
}
.about_company li{
  padding: 4px;
  width: 300px;
  border-bottom: 1px solid yellow;
}