.contact{
  width: 50%;
  color: red; font-size: 1.2em;
  text-align: center;
  float: right;
}
.contact p{
  padding-bottom: 5px;
  border-bottom: 2px solid yellow;
  font-size: 1.5em;
  width: 80%;
  color: red;
}
#contacts img{
  width: 45%;
  height: 45%;
}