.newsRoot{
  font-size: 1em;
  padding: 1em;
  border-radius: 0;
  width: 70%;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 2em;
}
.newsRoot h2, h4{
  color: red;
}
body hr{
  margin: 2em 0px 4em 0px;
  border-top: 3px solid yellow;
}