#carouselDiv{
  width: 100%;
  height: 500px;
}
#navPanel{
  width: 100%;
  opacity: .75;
}
#navbarTogglerDemo01 a{
  padding: 5px;
  color: red;
}
#navbarTogglerDemo01 a:hover{
  color: white;
  background-color: red;
  border-radius: 5px;
}
#e-mail a{
  font-size: 1.1em;
  color: blue;
}
body span{
  color: red;
}

#carouselImg img{
  width: 100%;
  height: 500px;
}
#carouselImg2 img{
  width: 70%;
  height: 500px;
}
#email{
  font-size: .5em;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;1,100;1,200;1,400&display=swap');

body, html{
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
  background: url("img/bg.jpg");
}
body h2{
  font-size: 3em;
  color: red;
  padding-bottom: 10px;
}
body h4{
  font-size: 2em;
  color: red;
  padding-bottom: 10px;
}
#borderBottom{
  border-bottom: 3px solid yellow;
}
.border-bottom-red{
  border-bottom: 3px solid red;
}

@media (max-width: 750px){
  body h2{
    font-size: 1.5em;
  }
  body h4{
    font-size: 1.2em;
  }
  body p{
    font-size: .7em;
  }
}

strong{
  color: red;
}
.navbar-brand{
  width: 150px;
}
.navbar-nav{
  padding-right: 20px;
}
.nav-link{
  font-size: 1.1em;
}
.carousel-inner{
  height: 500px;
}
.carousel-inner img{
  height: 100%;
}
@media (min-width: 1100px){
  .carousel-inner img {
    width: 100%;
  }
}
.carousel-caption{
  color: white;
  position: absolute;
  top: 50%;
  text-shadow: 1px 1px 10px black;
}
.carousel-caption h3{
  color: white;
  font-size: 3em;
}
#carousel2 h3{
  text-shadow: 1px 1px 10px red;
}
#carousel4 {
  left: 2%;
  padding: 10px;
  border: 2px solid red;
  width: 30%;
  top: 20%;
  text-shadow: 1px 1px 10px red;
}
#carousel4 h3{
  width: 100%;
}

.carousel-caption3{
  color: white;
  position: absolute;
  top: 10%;
  text-shadow: 1px 1px 10px black;
}
.carousel-caption3 h3{
  width: 50%;
  color: white;
  font-size: 2em;
  opacity: .9;
}
@media (max-width: 900px){
  #carouselImg h3{
    font-size: 1.6em;
  }
  #carousel4 {
    border: none;
  }
}
@media (max-width: 600px){
  #carouselImg h3{
    font-size: 1.1em;
  }
}


.carousel-caption-text{
  width: 90%;
  height: 50%;
  text-align: center;
  color: white;
  position: absolute;
  top: 25%;
  opacity: 0;
 }
.carousel-caption-text:hover{
  opacity: 1;
  text-shadow: 1px 1px 10px red;
}
.carousel-caption-text a{
  display: block;
  font-size: 1.5em;
  text-decoration: none;
  color: white;
}
.carousel-caption-text a:hover{
  text-decoration: none;
  color: white;
  transition: 1.5s;
}
@media (max-width: 1000px){
  .carousel-caption-text{
    opacity: 1;
    text-shadow: 1px 1px 10px red;

  }
  .carousel-caption-text a{
    font-size: 1.3em;
  }
}
#rootMenu{
  margin-bottom: .8em;
}
#rootMenu img{
  width:100%;
  height: 100%;
}
#rootMenu:hover img{
  border-left: 3px solid pink;
  border-bottom: 4px solid pink;
  box-shadow: -10px 10px 40px red;
  opacity: .9;
  transition: 2s;
}
.jumbotron{
  font-size: 1.5em;
  color: red;
  padding: 1em;
  border-radius: 0;
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
}
.padding{
  padding-bottom: 2em;
}
.alert{
  width: 75%;
  margin: 0 auto;
  padding-top: 2em;
}
.alert hr{
  border-top: 2px solid silver;
  width: 95%;
  margin-top: 0.3em;
  margin-bottom: 1em;
}
.fa-code{ color: #e54d26}
.fa-bold{ color: #563d7c}
.fa-css3{ color: blue}

.fa-code, .fa-bold, .fa-css3{
  font-size: 4em;
  margin: 1em;
}
#fixed{
  height: 400px;
  border-top: 4px solid #f0f0f0;
  border-bottom: 4px solid #f0f0f0;
  background: url("img/pingvi.jpg") no-repeat center center fixed;
  background-blend-mode: multiply;
  background-color: lightblue;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

#fixed2{
  height: 400px;
  border-top: 4px solid #f0f0f0;
  border-bottom: 4px solid #f0f0f0;
  background: url("img/partners3.jpg") no-repeat center center fixed;
  background-blend-mode: multiply;
  background-color: lightblue;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

#fixed3{
  height: 250px;
  border-top: 4px solid #f0f0f0;
  border-bottom: 4px solid #f0f0f0;
  background: url("img/news.jpg") no-repeat center center fixed;
  background-blend-mode: multiply;
  background-color: lightblue;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}
@media (max-width: 750px) {
  .display-4{
    font-size: 1em;
  }
}


.fa-facebook{ color: #3b5998 }
.fa-instagram{ color: #517fa4 }
.fa-twitter{ color: #00aced }
.fa-youtube{ color: #bb0000 }
.fa-google-plus-g{ color: #dd4b39 }

.fa-facebook:hover, .fa-twitter:hover,
.fa-youtube:hover, .fa-google-plus-g:hover, .fa-instagram:hover{
  color: #ccc;
}
footer{
  background-color: red;
  border-top: 4px solid yellow;
  color: white;
}
#footerImg{
  width: 100%;
  height: 300px;
  padding: 0px;
}