@media (max-width: 750px) {
  body h2{
    font-size: 1.5em;
  }
  body h4{
    font-size: 1.2em;
  }
  body p{
    font-size: .7em;
  }
  #btn-master a{
    font-size: .5em
  }
  #newsIndex a{
    font-size: 1em;
  }
  #navTabs li{
    width: 100%;
  }
  #partner p {
    text-align: left;
    width: 65%;
    font-size: .8em;
  }
  #carouselImg h3{
    font-size: 1.4em;
  }
  #menuCard:hover{
    box-shadow: none;
    opacity: 1;
  }
  footer p{
    font-size: .7em;
  }
}
@media (max-width: 1030px) {
  #navbarTogglerDemo01 a{
    font-size: 1.5em
  }
}
  @media (max-width: 1000px){
  #carouselImg h3{
    font-size: 1.6em;
  }
  #carousel4 {
    border: none;
  }
  .root-menu-text{
    opacity: 1;
    text-shadow: 1px 1px 10px red;

  }
  .root-menu-text a{
    font-size: 1.3em;
  }
}
@media (min-width: 1100px){
  .carousel-inner img {
    width: 100%;
  }
}
@media (max-width: 500px){
  #carouselImg h3{
    font-size: 1em;
  }
  .carousel-caption3 h3{
    font-size: 1em;
  }
}
