<div class="container">
  <div class="row">
    <div class="col-md-7" id="newsDescription">
      <h4 class="text-center"><%= @news.title if @news.title.present? %></h4>
      <div>
        <p class="lead"><%= @news.body %></p>
      </div>
      <div class="text-right" id="newsDataTime">
        <p>Добавлена: <%= @news.created_at.strftime("%T %D") %></p>
      </div>
  </div>

    <div class="col-md-5" id="newsShowImg">
      <%= image_tag @news.title_image.url(:large) if @news.title_image? %>
    </div>
  </div>
</div>
