<div class="container">
  <div class="row text-center">
    <div class="col-md-4" id="productDescription">
      <h4><%= @product.name if @product.name? %></h4>
      <p><%= @product.description if @product.description.present? %></p>
    <div class="col-xs-12 col-sm-12 padding" id="btn-master">
      <%= link_to "Назад", products_path, :class=>"btn btn-light" %>
    </div>
    </div>

    <div class="col-md-8" id="productShowImg">
      https://res-1.cloudinary.com/cloudair/image/upload/v1616266669/fmrinua4zcims5dquebf.png
    </div>
  </div>
</div>

